<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}List of pull request.{% endblock %}</title>
        {% block stylesheets %}<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">{% endblock %}
        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="container table-hover">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Message</th>
                            <th scope="col">Created_at</th>
                            <th scope="col">Link</th>
                            <th scope="col">Username</th>
                            <th scope="col">Avatar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for commit in commits %}
                        
                            <tr>
                                <th scope="row">{{ commit.idPullRequest }}</th>
                                <td>{{ commit.commitMessage }}</td>
                                <th scope="row">{{ commit.commitedAt|date('Y-m-d H:i:s') }}</th>
                                <th scope="row"><a href="{{commit.urlPullRequest}}" target="_blank">{{commit.urlPullRequest}}</th>
                                <td>{{ commit.users.name }}</td>
                                <td><img width="100" height="100" src="{{ commit.users.avatar }}"/></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {# <button type="button" class="btn btn-primary">Load more</button> #}
            </div>
        {% endblock %}
    </body>
</html>
