<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Base{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        {% endblock %}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script type="text/javascript">
                var _paq = window._paq || [];
                /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
                _paq.push(['trackPageView']);
                _paq.push(['enableLinkTracking']);
                (function() {
                    var u="//statsmato.alexishaumaitre.fr/";
                    _paq.push(['setTrackerUrl', u+'matomo.php']);
                    _paq.push(['setSiteId', '1']);
                    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
                })();
                </script>
        {% endblock %}
    </head>
    <body>
        {% block header %}
        <header class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="navbar-brand">
                    <img height="80px" src="{{ asset('images/prestashop-puffy.png') }}" alt="puffy mascot prestashop">
                    <a href="https://github.com/PrestaShop/docs/pulls">{{ 'navbar.title'|trans }}</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarToggler" class="navbar-right collapse navbar-collapse">
                    <div class="navbar-nav d-flex flex-row-reverse">
                        <div class="nav-item">
                            <a href="{{ path('index') }}" class="nav-link {% if app.request.get('_route') == 'index' %}active{% endif %}">
                                {{ 'navbar.closed_pull_requests'|trans }}
                            </a>
                        </div>
                        <div class="nav-item">
                            <a href="{{ path('openedones') }}" class="nav-link {% if app.request.get('_route') == 'openedones' %}active{% endif %}">
                                {{ 'navbar.opened_pull_requests'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        {% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
